*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
	width: 100%;
}

body{
    background: #2e2e61; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1f295a, #553973); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1f295a, #553973); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1f295a, #553973); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1f295a, #553973); /* Standard syntax */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#wrapper{
	max-width:1600px;
	width: 94%;
	height: 90%;
	margin:3% auto;
}

h2{
	font:48px/48px Helvetica Neue;
	color:white;
	width:275px;
	margin:0 auto;
	clear: both;
}

	h2 img{
		width: 60px;
		height: 60px;
		vertical-align: text-bottom;
	}

.selection{
	color:white;
	font:20px/20px Helvetica Neue;
	margin-top:-27px;
}

	.selection p{
		color:rgba(255,255,255,0.975);
	}

	.selection >*{
		float: left;
	}

	.selection#languages{
		float: left;
	}

	.selection#trending{
		float: right;
		width:160px;
		height:20px;
	}

#repos{
	clear: both;
	width: 100%;
	height: 100%;
	margin-top:10px;
}

.repo{
	float: left;
	overflow: hidden;
	font:20px/20px Helvetica Neue;
	background: rgba(255,255,255,0.825);
}

	.repo a {
		display:block;
		width: 100%;
		height: 100%;
		overflow:auto;
		padding:9px;
	}

	.repo a > * {
		overflow:hidden;
	}

	.repo h5{
		font: 16px/16px Helvetica Neue;
		height: 17px;
		width: 85%;
		font-weight:bold;
	}

	.repo img{
		margin: 4px 0px 0px;
		height: 15px;
	}

	.repo p{
		font: 12px/15px Helvetica Neue;
		height: 45px;
		width:95%;
		margin-top:7px;
		overflow: hidden;
	}

	.repo span{
		font-size: 11px;
		font-weight: bold;
		display: block;
	}

a{
	color:inherit;
	text-decoration:none;
	}

select {
   background: transparent;
   min-width: 20px;
   padding: 0px 5px;
   font-size: 16px;
   vertical-align:baseline;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
   border-bottom:#eee 1px solid;
   color:white;
	 outline: none;
   }

	#langSelect{
		width:29px;
	}

	#trendingSelect{
		width:57px;
	}

	#width_tmp_select{
		display: none;
	}
	
	
@media (min-width: 881px) {

	html{
		//overflow:hidden;
	}

	#repos{
		max-height:630px;
		margin-top:25px;
	}

	.repo{
		width: 32%;
		height: 100px;
		margin-bottom:2%;
		}
		
	.repo a{
		}
		
	.repo:nth-child(3n-2){
		float:left;
		}
	
	.repo:nth-child(3n-1){
		margin: 0% 2% 2%;
		}
	
	.repo:nth-child(3n){
		float:right;
		}

}
	
@media (min-width: 641px) and (max-width: 880px){
	.repo{
		width: 49%;
		height: 100px;
		margin-top:1.5%;
		}
		
	.repo a{
		}
		
	.repo:nth-child(2n-1){
		float:left;
		}
	
	.repo:nth-child(2n){
		float:right;
		}
		
}
	
@media (max-width: 640px){
	
	#repos{
		margin-top:20px;
	}
	
	.repo{
		width:90%;
		height: 100px;
		margin: 2.25% 5% 0px;
	}
	
	#trending.selection{
		float:none;
		margin:25px auto 0px;
	}
	
}